{# Header #}
<header id="gt-header" role="banner">
  <a href="#main-navigation" id="page-navigation" class="sr-only">Skip To Keyboard Navigation</a>
  <div class="navbar-expand-md">

    <div id="gt-header-bg-accent-row">
      <div class="container">
        <div id="striped-accent-bar"></div>
      </div>
    </div>

    {# Top Header #}
    <div id="top-header" class="container-fluid top-background-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-6 col-sm-4 col-md-4 col-lg-3 p-0 d-flex flex-row" id="angle-top-wrapper">
            <div id="angle-top-goldblock">
            </div>
            <div id="angle-top">
            </div>
          </div>
          <div class="col p-0 d-flex flex-row justify-content-end">
            <div id="ctn-angle" class="d-none d-md-block"></div>
            <div id="ctn" class="d-none d-md-block">
              {# CTN Logo #}
              <img src="{{ gt_path }}creating_the_next_gold.svg"
                   alt="{{ 'Creating the Next'|t }}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="middle-header" class="container-fluid middle-background-wrapper">
      <div class="container wide middle-header-gradient">
        <div class="row justify-content-between">

          {# GT Logo #}
          <div class="col-6 col-sm-4 col-md-4 col-lg-3 p-0 d-flex flex-row" id="logo-wrapper">
            <div id="logo-goldblock">
              <div id="gt-logo">
                <a href="https://gatech.edu" title="Georgia Tech">
                  <img id="gt-logo-image" src="{{ gt_path }}gt-logo.svg"
                       alt="{{ 'Georgia Tech'|t }} | {{ site_name }}"/>
                </a>
              </div>
            </div>
            <div id="angle-after-logo"></div>
          </div>

          {# GT Hambuger #}
          <div class="col-6 order-md-1 p-0 d-flex justify-content-end">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#Navbar" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
              <span class="icon-text"></span>
              <span class="sr-only">Toggle navigation</span>
            </button>
          </div>

          {# GT Site Name/Site Title #}
          {% if page.header %}
            <div class="col-12 col-sm-12 col-md-8 col-lg-9 p-0 d-flex flex-row align-items-center" id="site-title">
              {% block header %}
                {{ page.header }}
              {% endblock %}
            </div>
          {% endif %}

        </div>
      </div>
    </div>
    {# Bottom Header #}
    <div id="bottom-header" class="container-fluid py-1">
      <nav id="Navbar" class="container collapse navbar navbar-collapse">
        <a class="pull-left nav-logo gt-sticky-menu fade-in" href="https://www.gatech.edu"
           title="Georgia Tech">
          <img src="{{ gt_path }}gt-logo.svg" style="height:2.5rem"
               alt="Georgia Tech"/>
        </a>
        <div class="d-md-flex w-100">
          {# Page Navigation #}
          {% if page.navigation %}
            <a id="main-navigation"></a>
            <div id="page-navigation" class="main-nav flex-shrink-1" role="navigation" aria-label="Primary" aria-labelledby="main-navigation">
              {% block navigation %}
                {{ page.navigation }}
              {% endblock %}
            </div>
          {% endif %}

          <div id="utility-search-wrapper" class="ml-auto d-sm-block d-md-flex justify-content-end flex-grow-1" role="navigation" aria-label="Secondary">
            {# Utility Navigation #}
            {% if page.utility_navigation %}
              <div class="utility-navigation">
                {% block utility_navigation %}
                  {{ page.utility_navigation }}
                {% endblock %}
              </div>
            {% endif %}
            {# Search #}
            {% if page.search %}
              <div id="search-container">
                <div class="search-button relative">
                  <button class="btn btn-primary fa fa-search" title="open search" role="button" data-toggle="collapse" data-target="#gt-search" aria-expanded="false" aria-controls="expandable">
                    <span class="sr-only" role="presentation">Open Search</span>
                  </button>
                </div>
                <div id="gt-search" class="collapse absolute">
                  {% block search %}
                    {{ page.search }}
                  {% endblock %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
