{# Header #}
{% set class_sticky = '' %}
  {% if sticky_header == 1 %}
  {% set class_sticky = 'fixed-top' %}
{% endif %}
{# {% set class_demi = '' %} ///HIDE DEMI-HEADER UNTIL OFFICIALLY APPROVED FOR CAMPUS WIDE USE
  {% if demi_header == 1 %}
      {% set class_demi = 'gt-demi-header' %}
  {% endif %}
#}
<header id="gt-header" class="{{ class_sticky }}{# {{ class_demi }} #}" role="banner">
    <div class="navbar-expand-md navbar-light">
        {# Top Header #}
        <div id="top-header" class="container-fluid top-background-wrapper">
            <div class="container">
                <div class="row stripes">
                    <div class="col-lg-3 col-md-4 col-sm-12 top-background"></div>
                    <div class="col grow ctn-background">
                        {# CTN Logo #}
                        <a href="https://www.gatech.edu/about/creating-next" title="{{ 'Creating the Next'|t }}">
                            <img src="{{ base_path ~ directory }}/images/creating_the_next_gold.svg"
                                 style="max-height:1rem" alt="{{ 'About Creating the Next'|t }}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="middle-header" class="container-fluid middle-background-wrapper">
            <div class="container">
                <div class="row">
                    {# GT Logo #}
                    <div class="col-lg-3 col-md-4 col-4  middle-background gt-logo">
                        <a href="https://www.gatech.edu" title="{{ 'Georgia Tech'|t }}">
                            <img src="{{ base_path ~ directory }}/images/gt-logo.svg"
                                 alt="{{ 'Georgia Tech'|t }}"/>
                        </a>
                    </div>
                    {# GT Hambuger #}
                    <div class="col-8 order-md-1">
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                            <span class="icon-text"></span>
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                    </div>
                    {# GT Site Name/Site Title #}
                    <div class="col-md-8 col-sm-12 middle-header">
                        {% if page.header %}
                            {% block header %}
                                {{ page.header }}
                            {% endblock %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% set class_sticky = '' %}
        {% if sticky_header == 1 %}
            {% set class_sticky = 'gt-sticky-menu' %}
        {% endif %}

        {% set class_stickymenu = '' %}
        {% if sticky_menu == 1 %}
            {% set class_stickymenu = 'sticky-onscroll' %}
        {% endif %}
        {# Bottom Header #}
        <div id="bottom-header" class="container-fluid pt-2 {{ class_sticky }}"
             data-toggle="{{ class_stickymenu }}">
            <nav class="container collapse navbar navbar-collapse" id="Navbar">
                {#Sticky Menu GT Logo #}
                {% if sticky_menu == 1 %}
                    <a class="pull-left nav-logo gt-sticky-menu fade-in" href="http://www.gatech.edu" title="{{ 'Georgia Tech'|t }}">
                        <img src="{{ base_path ~ directory }}/images/gt-logo.svg" style="height:2.5rem"
                             alt="{{ 'Georgia Tech'|t }}"/>
                    </a>
                {% endif %}
                <div class="row col">
                    {# Page Navigation #}
                    <div id="page-navigation" class="mr-auto">
                        {% if page.navigation %}
                            {% block navigation %}
                                {{ page.navigation }}
                            {% endblock %}
                        {% endif %}
                    </div>
                    {# Utility Navigation #}
                    <div id="utility-navigation" class="force-w-100">
                        {% if page.utility_navigation %}
                            {% block utility_navigation %}
                                {{ page.utility_navigation }}
                            {% endblock %}
                        {% endif %}
                    </div>
                    {# Search #}
                    <div id="search-container" class="force-w-100">
                        <label for="trigger">
                            <span>Search</span>
                            <i class="fas fa-search">
                            </i>
                        </label>
                        <input type="checkbox" id="trigger">
                        <div class="hide search-box">
                            {% if page.search %}
                                {% block search %}
                                    {{ page.search }}
                                {% endblock %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
