{# GT Footer #}
{% set class_cas_login = '' %}
  {% if cas_login == 1 %}
    {% set class_cas_login = 'cas-login' %}
  {% endif %}
{# Top Footer Gradient Bar #}
<div class="container-fluid footer-top-bar d-none d-lg-block">
</div>
{# Bottom Footer Section #}
<div id="gt-footer" class="container-fluid footer-bottom-bar">
  <div class="container pt-3">
    <div class="row">
      {# Address Section  > MOBILE 2 #}
      <div class="col-sm-12 col-md-4 col-lg-3 ctn-footer my-2 order-md-1 order-2">
        <div id="address_text">
          {# title #}
          {% if contact_title is not empty %}
            <h2>{{ contact_title }}</h2>
            <h3>Georgia Institute of Technology</h3>
          {% else %}
            <h3>Georgia Institute of Technology</h3>
          {% endif %}
          {# Address #}
          {% if contact_address or contact_city or contact_state or contact_zip_code %}
          <p>
            {{ contact_address }}
            {% if contact_address_2 %}<br/>{{ contact_address_2 }}{% endif %}
            <br/>{{ contact_city }}, {{ contact_state }} {{ contact_zip_code }}
          </p>
          {% else %}
          <p> North Avenue<br/>
            Atlanta, GA 30332
            {% endif %}
            {# Telephone #}
            {% if contact_telephone %}
              <span itemprop="telephone">
                                <a class="gt-phone"
                                   href="tel: +1{{ contact_telephone|replace({'.': s , '-': "" , ' ': "" , '(': "", ')': "" }) }}"
                                   aria-label="telephone">
                                    {{ contact_telephone }}
                                </a>
                            </span>
            {% else %}
              <span itemprop="telephone">
                                <a class="gt-phone" href="tel: +14048942000" aria-label="telephone">+1 404.894.2000</a>
                            </span>
            {% endif %}
            {# Map #}
            {% if contact_map_url is not empty and contact_title is not empty %}
              <a class="gt-campus-map" href="{{ contact_map_url }}" data-toggle="tooltip" data-placement="top"
                 aria-label="{{ contact_title }}  map">{{ contact_title }} Map</a>
            {% endif %}
            <a class="gt-campus-map" href="https://map.gatech.edu/" aria-label="Campus Map">Campus Map</a>
          </p>
        </div>
      </div>
      {# General Section   > MOBILE 3 #}
      <div class="col-sm-12 col-md-4 col-lg-3 my-2 order-md-2 order-3">
        {# General Section  / Show - Hide #}
        <div class="d-block d-md-none button-bar">
          <button class=" w-100 btn-footer-2" type="button" data-toggle="collapse" data-target="#collapseGeneral"
                  aria-expanded="false" aria-controls="generalcollapse">
            General
          </button>
        </div>
        <div class="collapse dont-collapse-sm" id="collapseGeneral">
          <div class="well">
            <nav role="navigation" aria-label="Footer Links">
              <ul role="menu" aria-expanded="false">
                <li role="menuitem"><a href="https://directory.gatech.edu/" aria-label="Directory">Directory</a></li>
                <li role="menuitem"><a href="https://careers.gatech.edu" aria-label="Employment">Employment</a></li>
                <li role="menuitem"><a href="https://gatech.edu/emergency/" aria-label="Emergency Information">Emergency
                    Information</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      {# Legal Section  > MOBILE 4 #}
      <div class="col-sm-12 col-md-4 col-lg-3 my-2 order-md-3 order-4">
        {# Legal Section  / Show - Hide #}
        <div class="d-block d-md-none button-bar">
          <button class=" w-100 btn-footer-2" type="button" data-toggle="collapse" data-target="#collapseLegal"
                  aria-expanded="false" aria-controls="legalcollapse">
            Legal
          </button>
        </div>
        <div class="collapse dont-collapse-sm" id="collapseLegal">
          <div class="well">
            <nav role="navigation" aria-label="Footer Links Section Two">
              <ul role="menu" aria-expanded="false">
                <li role="menuitem"><a href="https://gatech.edu/legal/" aria-label="Legal &amp; Privacy Information">Legal
                    &amp; Privacy Information</a></li>
                <li role="menuitem"><a href="https://gbi.georgia.gov/human-trafficking-notice"
                                       aria-label="Human Trafficking Notice">Human Trafficking Notice</a></li>
                <li role="menuitem"><a href="https://titleix.gatech.edu/">Title IX/Sexual Misconduct</a></li>
                <li role="menuitem"><a href="https://gatech.edu/accessibility/"
                                       aria-label="Accessibility">Accessibility</a>
                </li>
                <li role="menuitem"><a href="https://gatech.edu/accountability/"
                                       aria-label="Accountability">Accountability</a></li>
                <li role="menuitem"><a href="https://gatech.edu/accreditation/"
                                       aria-label="Accreditation">Accreditation</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      {# Logo Section > MOBILE 1 #}
      <div id="gt-logo-footer" class="col-sm-12 col-md-12 col-lg-3 my-2 order-md-4 order-1">
        <div id="copyright">
          <a href="https://www.gatech.edu/" title="{{ 'Georgia Tech'|t }}">
            <img src="{{ gt_path }}gt-logo.svg" alt="{{ 'Georgia Tech'|t }}" role="presentation"
                 aria-label="logo link to main campus site"/>
          </a>
          <p class="p-1 float-right copyright-hide">© {{ 'now'|date('Y') }} Georgia Institute of Technology</p>
          <p class="gt-login {{ class_cas_login }} d-sm-none d-md-block">
            <a class="gt-login" href="{{ url('<front>') }}cas" aria-label="admin login">GT LOGIN</a>
          </p>
        </div>
      </div>
    </div> {# end row #}
  </div> {# end container #}
</div> {# end container-fluid #}
