
{# Superfooter #}
<div class="collapse dont-collapse-sm" id="collapseFooter">
  <div class="well">
    {# Superfooter Content #}
    <div id="gt-superfooter" class="{{ super_footer_hide }} container-fluid gt-black-wrapper">
      {# After Content #}
      {% if page.before_footer %}
        {% block before_footer %}
          <div id="gt-before-footer" class="container pt-3">
            {{ page.before_footer }}
          </div>
        {% endblock %}
      {% endif %}
      {# Super-footer #}
      <div class="container pt-4 pb-4">
        <div class="row center-block">
          {% if page.footer_first %}
            <div
              class="footer-first col-lg-{{ footer_first_size }} col-md-{{ footer_first_size }} col-sm-12 col-xs-12 column">
              {{ page.footer_first }}
            </div>
          {% endif %}
          {% if page.footer_second %}
            <div
              class="footer-second col-lg-{{ footer_second_size }} col-md-{{ footer_second_size }} col-sm-12 col-xs-12 column">
              {{ page.footer_second }}
            </div>
          {% endif %}
          {% if page.footer_third %}
            <div
              class="footer-third col-lg-{{ footer_third_size }} col-md-{{ footer_third_size }} col-sm-12 col-xs-12 column">
              {{ page.footer_third }}
            </div>
          {% endif %}
          {% if page.footer_four %}
            <div
              class="footer-four col-lg-{{ footer_four_size }} col-md-{{ footer_four_size }} col-sm-12 col-xs-12 column">
              {{ page.footer_four }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
