{# Stick Header to Top #}
{% set class_sticky = '' %}
  {% if sticky_header == 1 %}
      {% set class_sticky = 'fixed-top' %}
  {% endif %}

{# Demi Header #}
{% set class_demi = '' %}
  {% if demi_header == 1 %}
      {% set class_demi = 'gt-demi-header' %}
  {% endif %}

{# Header #}
<header id="gt-header" class="{{ class_sticky }}{{ class_demi }}" role="banner">

    <div class="navbar-expand-md">

	<div id="gt-header-bg-accent-row">
		<div class="container{{ class_wide }} wide">
			<div id="striped-accent-bar"></div>
		</div>
	</div>

        {# Top Header #}
        <div id="top-header" class="container-fluid top-background-wrapper">
            <div class="container{{ class_wide }} wide">
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 p-0 d-flex flex-row" id="angle-top-wrapper">
						<div id="angle-top-goldblock">
						</div>
						<div id="angle-top">
						</div>
                    </div>
                    <div class="col p-0 d-flex flex-row justify-content-end">
	                    <div id="ctn-angle" class="d-none d-md-block"></div>
						<div id="ctn" class="d-none d-md-block">
	                        {# CTN Logo #}
	                        <img src="{{ gt_path }}creating_the_next_gold.svg"
	                             alt="{{ 'Creating the Next'|t }}"/>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="middle-header" class="container-fluid">
            <div class="container{{ class_wide }} wide middle-header-gradient">
                <div class="row justify-content-between">

                    {# GT Logo #}
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 p-0 d-flex flex-row" id="logo-wrapper">
	                    <div id="logo-goldblock">
		                    <div id="gt-logo">
		                        <a href="/" title="{{ 'Georgia Tech'|t }} | {{ site_name }}">
		                            <img id="gt-logo-image" src="{{ gt_path }}gt-logo.svg"
		                                 alt="{{ 'Georgia Tech'|t }} | {{ site_name }}"/>
		                        </a>
		                    </div>
	                    </div>
	                   <div id="angle-after-logo"></div>
                    </div>

                    {# GT Hambuger #}
                    <div class="col-6 order-md-1 p-0 d-flex justify-content-end">
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                                data-target="#Navbar" aria-controls="navbarResponsive" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                            <span class="icon-text"></span>
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                    </div>

                    {# GT Site Name/Site Title #}
                    {% if page.header %}
                        <div class="col-12 col-sm-12 col-md-8 col-lg-9 p-0 d-flex flex-row align-items-center" id="site-title">
                            {% block header %}
                                {{ page.header }}
                            {% endblock %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

        {# Sticky Menu #}
        {% set class_sticky = '' %}
        {% if sticky_header == 1 %}
            {% set class_sticky = 'gt-sticky-menu' %}
        {% endif %}

        {# Sticky Menu on Scroll #}
        {% set class_stickymenu = '' %}
        {% if sticky_menu == 1 %}
            {% set class_stickymenu = 'sticky-onscroll' %}
        {% endif %}

        {# Bottom Header #}
        <div id="bottom-header" class="container-fluid py-1 {{ class_sticky }}"
             data-toggle="{{ class_stickymenu }}">
             <nav class="container{{ class_wide }} collapse navbar navbar-collapse" id="Navbar">

                {#Sticky Menu GT Logo #}
                {% if sticky_menu == 1 %}
                    <a class="pull-left nav-logo gt-sticky-menu fade-in" href="/"
                       title="{{ 'Georgia Tech'|t }} | {{ site_name }}">
                        <img src="{{ gt_path }}gt-logo.svg" style="height:2.5rem"
                             alt="{{ 'Georgia Tech'|t }}"/>
                    </a>
                {% endif %}

                <div class="row align-items-center w-100">
                    {# Page Navigation #}
                    {% if page.navigation %}
                        <div id="page-navigation" class="col-sm-12 col-md-9 main-nav">
                            {% block navigation %}
                                {{ page.navigation }}
                            {% endblock %}
                        </div>
                    {% endif %}

	                <div id="utility-search-wrapper" class="col-sm-12 col-md-3 col ml-auto">
                    {# Utility Navigation #}
                    {% if page.utility_navigation %}
                        {% block utility_navigation %}
                            {{ page.utility_navigation }}
                        {% endblock %}
                    {% endif %}

                    {# Search #}
                    {% if page.search %}
                        <div id="search-container">
                            <label for="trigger">
                                <span>Search</span>
                                <i class="fa fa-search">
                                </i>
                            </label>
                            <input type="checkbox" id="trigger">
                            <div class="hide search-box">
                                {% block search %}
                                    {{ page.search }}
                                {% endblock %}
                            </div>
                        </div>
                    {% endif %}
 					</div>
                </div>
            </nav>
        </div>
    </div>
</header>
