{# GT Footer #}
{# Demi Header #}
{% set class_cas_login = '' %}
  {% if cas_login == 1 %}
      {% set class_cas_login = 'cas-login' %}
  {% endif %}

{# Top Footer Gradient Bar #}
<div class="container-fluid footer-top-bar">
</div>

<div id="gt-footer" class="container-fluid footer-bottom-bar">
    <div class="container{{ class_wide }} pt-3">

        <div class="row">
            <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3 ctn-footer">
                <img class="float-left pb-2" src="{{ gt_path }}creating_the_next_black.svg"
                     alt="{{ 'creating the next'|t }}">
                <div class="clearfix"></div>

                <div id="address_text" class="pt-1">

                    {# title #}
                    {% if contact_title %}
                    <a href="{{ contact_map_url }}" data-toggle="tooltip" data-placement="top" title="{{ contact_title }} Map">
                        <h4>{{ contact_title }}</h4>
                        <h4>Georgia Institute of Technology</h4>
                        {% else %}
                            <h4>Georgia Institute of Technology</h4>
                        {% endif %}

                        {# Address #}
                        {% if contact_address or contact_city or contact_state or contact_zip_code %}
                        <p>
                            {{ contact_address }}
                            {% if contact_address_2 %}<br/>{{ contact_address_2 }}{% endif %}
                            <br/>{{ contact_city }}, {{ contact_state }} {{ contact_zip_code }}
                        </p>
                    </a>
                    {% else %}
                    <p> North Avenue<br/>
                        Atlanta, GA 30332
                        {% endif %}

                        {# Telephone #}
                        {% if contact_telephone %}
                            <span itemprop="telephone">
                                <a class="gt-phone"
                                   href="tel: +1{{ contact_telephone|replace({'.': s , '-': "" , ' ': "" , '(': "", ')': "" }) }}">
                                    {{ contact_telephone }}
                                </a>
                            </span>
                        {% else %}
                            <span itemprop="telephone">
                                <a class="gt-phone" href="tel: +14048942000">+1 404.894.2000</a>
                            </span>
                        {% endif %}

                        {# Map #}
                        <a class="gt-campus-map" href="https://map.gatech.edu/">Campus Map</a>
                    </p>

                </div>
            </div> {# end col #}

            <div class="col-sm-12 col-md-4 col-lg-3 pt-4">
                <ul>
                    <li><a href="https://directory.gatech.edu/">Directory</a></li>
                    <li><a href="https://gatech.edu/emergency/">Emergency Information</a></li>
                    <li><a href="https://gatech.edu/legal/">Legal &amp; Privacy Information</a></li>
                    <li><a href="https://gbi.georgia.gov/documents/human-trafficking-notice">Human
                            Trafficking Notice</a></li>
                    <li><a href="https://titleix.gatech.edu/">Title IX/Sexual Misconduct</a></li>
                </ul>
            </div> {# end col #}

            <div class="col-sm-12 col-md-4 col-lg-3 pt-4">
                <ul>
                    <li><a href="https://gatech.edu/accessibility/">Accessibility</a></li>
                    <li><a href="https://gatech.edu/accountability/">Accountability</a></li>
                    <li><a href="https://gatech.edu/accreditation/">Accreditation</a></li>
                    <li><a href="https://careers.gatech.edu">Employment</a></li>
                </ul>
            </div> {# end col #}

            <div id="gt-logo-footer" class="col-sm-12 col-sm-6 col-md-12 col-lg-3 p-1">
                <div id="copyright">
                    <a href="https://www.gatech.edu/" title="{{ 'Georgia Tech'|t }}">
                    <img src="{{ gt_path }}gt-logo.svg"
                         alt="{{ 'Georgia Tech'|t }}"/>
                    </a>
                    <p class="p-1 float-right">© {{ 'now'|date('Y') }} Georgia Institute of
                        Technology</p>
                    <p class="gt-login {{ class_cas_login }}">
                        <a class="gt-login" href="/cas">GT LOGIN</a>
                    </p>
                </div> {# end col #}
            </div>

        </div> {# end row #}
    </div> {# end container #}
</div> {# end container-fluid #}
